<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <footer>
    <div class="footer box">
      <div class="endnav">
        <p>
          <a href="/about">关于我们</a>
          <a href="/about">广告合作</a>
          <a href="/about">联系我们</a>
        </p>
        <p>Copyright © 2022 新闻博客 All Rights Reserved.</p>
        <p>
          网站备案号：<a style="text-decoration: underline" target="_blank" href="http://beian.miit.gov.cn/" rel="nofollow">京ICP
            *******号</a>
        </p>
      </div>
    </div>
  </footer>
  <a href="#" title="返回顶部" class="icon-top"></a>

</html>