<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>小蚂蚁云CMS网站</title>
    <meta name="keywords" content="企业建站,个人博客,新闻,资讯" />
    <meta name="description"
      content="小蚂蚁云团队是一个专注互联网产品、物联网产品研发的团队，其主营产品包括但不限于小蚂蚁云软件框架、小蚂蚁云CMS企业建站、物联网产品、AI智能化产品等；小蚂蚁云CMS经过多年不断创新和完善，集安全、稳定、强大、灵活于一身；已广泛应用于国内外上万家企业，覆盖不同的行业和领域，并经过上千家知名网站的严格检测，被称为国内超高安全、超高稳定的CMS系统。" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/static/css/base.css}" rel="stylesheet" />
    <link th:href="@{/static/css/m.css}" rel="stylesheet" />
    <script th:src="@{/static/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
    <!--[if lt IE 9]>
          <script src="/ecms017/skin/js/modernizr.js"></script>
        <![endif]-->
    <!-- banner-->
    <link rel="stylesheet" th:href="@{/static/css/swiper.min.css}" />
    <script th:src="@{/static/js/swiper.min.js}"></script>
    <script th:src="@{/static/js/banner.js}"></script>
    <script th:src="@{/static/js/hc-sticky.js}"></script>
    <script th:src="@{/static/js/aside-sticky.js}"></script>
  </head>

</html>