<!DOCTYPE html>
<html>
  <!-- 引入头部 -->
  <header th:replace="./public/header"></header>

  <body>
    <!-- header -->
    <div th:replace="./public/common_header"></div>
    <div class="clear blank"></div>
    <article style="position: relative">
      <div class="left-box">
        <div class="whitebg">
          <div class="news-title">
            <span class="weizhi">当前位置：<a href="/index">首页</a>&nbsp;&gt;&nbsp;<a
                th:href="'/list/'+${categoryId}+'/1.html'">[[${articleInfo['categoryName']}]]</a></span>
            <h2>[[${articleInfo['categoryName']}]]</h2>
          </div>
          <div class="newstext-box">
            <h1 class="news-title-h1">
              [[${articleInfo['title']}]]
            </h1>
            <div class="picview-other">
              <span class="po-date">时间：[[${articleInfo['createTime']}]]</span>
              <span class="po-classname">作者：[[${articleInfo['author']}]]</span>
              <span class="po-view" style="background: none">浏览量：[[${articleInfo['click']}]]
              </span>
            </div>
            <div class="smalltext">
              <i></i>[[${articleInfo['intro']}]]
            </div>
            <div class="newstext" th:utext="${articleInfo['content']}">
            </div>
            <div class="share" id="down">
              <div class="share-text">
                <p>
                  版权声明：本文内容由互联网用户自发贡献，该文观点仅代表作者本人。本站仅提供信息存储空间服务，不拥有所有权，不承担相关法律责任。如发现本站有涉嫌抄袭侵权/违法违规的内容，
                  请发送邮件联系站长，一经查实，本站将立刻删除。
                </p>
                <p>
                  本文地址：<a th:href="'/detail/'+${articleInfo['id']}+'.html'" target="_blank"
                    th:text="'/detail/'+${articleInfo['id']}+'.html'"></a>
                </p>
              </div>
            </div>
            <div class="clear"></div>
            <div class="info-pre-next">
              <ul>
                <li>
                  <a th:if="${preInfo} != null" th:href="'/detail/'+${preInfo['id']}+'.html'"><i><em>上一篇</em><img
                        th:src="${preInfo['cover']}" th:alt="${preInfo['title']}" /></i>
                    <h2>[[${preInfo['title']}]]</h2>
                    <p>
                      [[${preInfo['intro']}]]
                    </p>
                  </a>
                  <a th:unless="${preInfo} != null" href="javascript:void(0);"><i><em>上一篇</em></i>
                    <h2>没有了！</h2>
                    <p></p>
                  </a>
                </li>
                <li>
                  <a th:if="${nextInfo} != null" th:href="'/detail/'+${nextInfo['id']}+'.html'"><i><em>下一篇</em><img
                        th:src="${nextInfo['cover']}" th:alt="${nextInfo['title']}" /></i>
                    <h2>[[${nextInfo['title']}]]</h2>
                    <p>
                      [[${nextInfo['intro']}]]
                    </p>
                  </a>
                  <a th:unless="${nextInfo} != null" href="javascript:void(0);">
                    <i><em>下一篇</em></i>
                    <h2>没有了！</h2>
                    <p></p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clear blank"></div>
        <div class="otherlink whitebg">
          <div class="news-title">
            <h2>相关文章</h2>
          </div>
          <ul th:if="${not #lists.isEmpty(articleList)}">
            <li th:each="item,itemStat:${articleList}">
              <a th:href="'/detail/'+${item['id']}+'.html'" th:title="${item['title']}">[[${item['title']}]]</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 引入右侧本类推荐、点击排行、标签、猜猜你喜欢等 -->
      <div th:replace="./common/right"></div>
    </article>
    <div class="clear blank"></div>
    <!-- 引入脚部 -->
    <footer th:replace="./public/footer"></footer>
  </body>

</html>