<!DOCTYPE html>
<html>
<!-- 引入头部 -->
<header th:replace="./public/header"></header>

  <body>
    <!-- header -->
    <div th:replace="./public/common_header"></div>
    <div class="clear blank"></div>
    <article>
      <!-- 网站首页广告轮播图开始-->
      <div class="banner">
        <div class="swiper-container swiper-container-horizontal">
          <div class="swiper-wrapper" style="
                  transform: translate3d(-1464px, 0px, 0px);
                  transition-duration: 0ms;
                " th:if="${not #lists.isEmpty(adList)}">
            <div class="swiper-slide" style="width: 702px; margin-right: 30px" th:each="item,itemStat:${adList}">
              <a th:href="${item['url']}" style="width: 99%"><img th:src="${item['cover']}"
                  th:alt="${item['title']}" /><span>推荐</span></a>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
              class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
          </div>
          <div class="swiper-button-next swiper-button-disabled"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
      <!-- 网站首页广告轮播图结束-->

      <!-- 头条文章推荐开始 -->
      <div class="headline-box whitebg">
        <div class="headline-news" th:if="${not #lists.isEmpty(layoutItemList)}">
          <h2 class="headline-news-title">
            <span>头条</span><a th:href="'/detail/'+${layoutItemList[0]['typeId']}+'.html'" th:title="${layoutItemList[0]['typeText']}">[[${layoutItemList[0]['typeText']}]]</a>
          </h2>
          <p class="headline-news-smalltext">
            [[${layoutItemList[0]['typeIntro']}]]
          </p>
          <ul class="headline-news-list" th:if="${not #lists.isEmpty(layoutItemList.subList(1, layoutItemList.size()))}">
            <li th:each="item,itemStat:${layoutItemList.subList(1, layoutItemList.size())}">
              <a th:href="'/detail/'+${item['typeId']}+'.html'" th:title="${item['typeText']}">[[${item['typeText']}]]</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 头条文章推荐结束 -->

      <!-- 第三块：快讯开始 -->
      <div class="clear blank"></div>
      <div class="tuijian-news box whitebg tab-num01">
        <div class="gd-box" th:if="${homeArticleVO3['categoryInfo'] != null}">
          <ul id="tab">
            <li class="tab-current">[[${homeArticleVO3['categoryInfo']['name']}]]</li>
          </ul>
        </div>
        <div id="tab-content">
          <section class="tab-box">
            <div class="tuijian-news-pic" th:if="${#lists.size(homeArticleVO3['articleList'])} > 0">
              <i><a th:href="'/detail/'+${homeArticleVO3['articleList'][0]['id']}+'.html'"><img th:src="${homeArticleVO3['articleList'][0]['cover']}"
                    th:alt="${homeArticleVO3['articleList'][0]['title']}" /><span>推荐</span></a></i>
              <h2>
                <a th:href="'/detail/'+${homeArticleVO3['articleList'][0]['id']}+'.html'">[[${homeArticleVO3['articleList'][0]['title']}]]</a>
              </h2>
              <p>
               [[${homeArticleVO3['articleList'][0]['intro']}]]
              </p>
              <a th:href="'/list/1/'+${homeArticleVO3['articleList'][0]['id']}+'.html'" class="btn-blue-border">阅读更多</a>
            </div>
            <div class="tuijian-news-list" th:if="${not #lists.isEmpty(homeArticleVO3['articleList'])}">
              <ul>
                <li th:each="item,itemStat:${homeArticleVO3['articleList']}" th:if="${itemStat.count} > 1">
                  <a th:href="'/detail/'+${item['id']}+'.html'"><span><b>15</b>2022-04</span>
                    <h3 th:text="${item['title']}"></h3>
                    <p th:text="${item['intro']}"></p>
                  </a>
                </li>
              </ul>
            </div>
            <span class="tab-a-more"><a href="/detail" title="更多快讯"><i></i><i></i><i></i></a></span>
          </section>
        </div>
      </div>
      <!-- 第三块：快讯结束 -->

      <!-- 第四块：产业新闻开始 -->
      <div class="clear blank"></div>
      <div class="videos box whitebg tab-num04">
        <div class="gd-box" th:if="${homeArticleVO4['categoryInfo'] != null}">
          <ul id="tab">
            <li class="tab-current">[[${homeArticleVO4['categoryInfo']['name']}]]</li>
          </ul>
        </div>
        <div id="tab-content" th:if="${not #lists.isEmpty(homeArticleVO4['articleList'])}">
          <section class="tab-box">
            <div class="videos-list">
              <ul>
                <li th:each="item,itemStat:${homeArticleVO4['articleList']}">
                  <a th:href="'/detail/'+${item['id']}+'.html'"><i><img th:src="${item['cover']}" /></i>
                    <h2>[[${item['title']}]]</h2>
                    <p>
                      <b class="datetime">[[${item['createTime']}]]</b><span class="viewd">[[${item['click']}]]人在看</span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <span class="tab-a-more"><a href="/chanye" title="更多产业新闻"><i></i><i></i><i></i></a></span>
          </section>
        </div>
      </div>
      <!-- 第四块：产业新闻结束 -->

      <!-- 第五块：知趣科技开始 -->
      <div class="clear blank"></div>
      <div class="pics box whitebg tab-num02">
        <div class="gd-box" th:if="${homeArticleVO5['categoryInfo'] != null}">
          <ul id="tab">
            <li class="tab-current">[[${homeArticleVO5['categoryInfo']['name']}]]</li>
          </ul>
        </div>
        <div id="tab-content" th:if="${not #lists.isEmpty(homeArticleVO5['articleList'])}">
          <section class="tab-box">
            <div class="pic-list-img">
              <ul>
                <li th:each="item,itemStat:${homeArticleVO5['articleList']}">
                  <a th:href="'/detail/'+${item['id']}+'.html'"><i><img th:src="${item['cover']}"
                        th:alt="${item['title']}" /></i><span>[[${item['title']}]]</span></a>
                </li>
              </ul>
            </div>
            <span class="tab-a-more"><a href="/zqkj" title="更多知趣科技"><i></i><i></i><i></i></a></span>
          </section>
        </div>
      </div>
      <!-- 第五块：知趣科技结束 -->

      <!-- 第六块：娱乐生活开始 -->
      <div class="clear blank"></div>
      <div class="news box whitebg tab-num03">
        <div class="gd-box" th:if="${homeArticleVO6['categoryInfo'] != null}">
          <ul id="tab">
            <li class="tab-current">[[${homeArticleVO6['categoryInfo']['name']}]]</li>
          </ul>
        </div>
        <div id="tab-content" th:if="${not #lists.isEmpty(homeArticleVO6['articleList'])}">
          <section class="tab-box">
            <div class="news-zuixin">
              <ul>
                <li th:each="item,itemStat:${homeArticleVO6['articleList']}">
                  <section>
                    <a th:href="'/detail/'+${item['id']}+'.html'" class="news-zuixin-pic"><img
                        th:src="${item['cover']}" /></a>
                    <h2>
                      <a th:href="'/detail/'+${item['id']}+'.html'">[[${item['title']}]]</a>
                    </h2>
                    <p th:text="${item['intro']}"></p>
                    <span></span>
                  </section>
                </li>
              </ul>
            </div>
            <span class="tab-a-more"><a href="/ylsh" title="更多娱乐生活"><i></i><i></i><i></i></a></span>
          </section>
        </div>
      </div>
      <!-- 第六块：娱乐生活结束 -->

      <!-- 第七快：自媒体、创业开始 -->
      <div class="blank clear"></div>
      <div class="wenzi whitebg box tab-num05" th:if="${not #lists.isEmpty(articleVOList)}">
        <div class="gd-box">
          <ul id="tab">
            <li th:each="item,itemStat:${articleVOList}" th:class="${itemStat.count eq 1} ? tab-current : ''">[[${item['categoryInfo']['name']}]]</li>
          </ul>
        </div>
        <div id="tab-content">
          <section class="tab-box" th:each="item,itemStat:${articleVOList}">
            <div class="wenzi-list">
              <ul class="wenzi-left">
                <li th:each="subItem,subItemStat:${item['articleList'].subList(0, 7)}">
                  <span th:text="${subItem['createTime']}"></span><a th:href="'/detail/'+${subItem['id']}+'.html'" th:title="${subItem['title']}">[[${subItem['title']}]]</a>
                </li>
              </ul>
              <ul class="right">
                <li th:each="subItem,subItemStat:${item['articleList'].subList(8, 15)}">
                  <span th:text="${subItem['createTime']}"></span><a th:href="'/detail/'+${subItem['id']}+'.html'" th:title="${subItem['title']}">[[${subItem['title']}]]</a>
                </li>
              </ul>
            </div>
            <span class="tab-a-more"><a href="javascript:void(0);" title="更多"><i></i><i></i><i></i></a></span>
          </section>
        </div>
      </div>
      <!-- 第七快：自媒体、创业结束 -->

      <!-- 热门标签开始-->
      <div class="clear blank"></div>
      <div class="whitebg box tags">
        <div class="news-title">
          <h2>热门标签</h2>
          <span class="tab-a-more"><a href="javascript:void(0);" title="更多"><i></i><i></i><i></i></a></span>
        </div>
        <ul th:if="${not #lists.isEmpty(tagList)}">
          <a th:each="item,itemStat:${tagList}" th:href="'/tags/'+${item['id']}+'.html'" target="_blank" th:title="${item['name']}">[[${item['name']}]]</a>
        </ul>
      </div>
      <!-- 热门标签结束-->
      <!-- 友情链接开始-->
      <div class="blank clear"></div>
      <div class="links whitebg box">
        <div class="news-title">
          <h2>友情链接</h2>
        </div>
        <ul th:if="${not #lists.isEmpty(linkList)}">
          <li th:each="item,itemStat:${linkList}">
            <a th:href="${item['url']}" target="_blank">[[${item['name']}]]</a>
          </li>
        </ul>
      </div>
      <!-- 友情链接结束-->
    </article>
    <div class="clear blank"></div>
    <!-- 引入脚部 -->
    <footer th:replace="./public/footer"></footer>
  </body>

</html>